.info_card{
  border: 1px solid #DADADA;
  width: 94px;
  height: 81px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.info_card p{
  font-size: 12px;
  color: #979797;
}